@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f5f5f5;
  --orange-color: #F4DE6B;
  --black-color: #0F1419;
  --brown-color: #C0AD4D;
  --gray-color: #E5E5E5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #f5f5f5;
    --orange-color: #F4DE6B;
    --black-color: #0F1419;
    --brown-color: #C0AD4D;
    --gray-color: #E5E5E5;
  }
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Set your desired background color */
  z-index: 1000; /* Adjust the z-index to make sure it's above other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for a subtle effect */
}

.placeholder-text::placeholder {
  font-size: 10px;
  font-family: 'Poppins', sans-serif; 
  color: #666; 
}

.placeholder-search::placeholder {
  font-size: 13px;
  font-family: 'Poppins', sans-serif; 
  color: #666; 
}

p {
  color: var(--black-color);
}

.left-sidebar-container {
  margin-top: 80px;
  position: fixed;
  display: flex;
  width: 25%;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 110px;
  height: 630px;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--orange-color);
  border-radius: 10px; 
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); 
  padding: 10px; 
  padding-top: 50px;
}

.navigation-links button {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: var(--orange-color);
  color: var(--black-color);
  cursor: pointer;
  width: 80%;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

/* blm handle klo misalkan navigate ke halaman nya */
.navigation-links button:active {
  background-color: var(--black-color); 
  color: var(--orange-color);
}

.home-button {
  background-color: black;
  color: orange;
  /* Add any additional styles you need for the default state */
}

.home-button.active {
  background-color: var(--black-color); 
  color: var(--orange-color);
  /* Add any additional styles you need for the active state */
}

.profile-button {
  background-color: black;
  color: orange;
  /* Add any additional styles you need for the default state */
}

.profile-button.active {
  background-color: var(--black-color); 
  color: var(--orange-color);
  /* Add any additional styles you need for the active state */
}

.navigation-links button svg {
  margin-right: 24px; 
  font-size: 1.5rem; 
}

.navigation-links button span {
  flex-grow: 1; 
}

.navigation-links button span {
  flex-grow: 1; 
  text-align: left; 
}

.profile-picture {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  overflow: hidden; 
  background-color: #fff; 
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.profile-picture img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.username {
  text-align: center; 
  margin-bottom: 40px;
  font-size: 20px;
}

.logout-button {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.content {
  margin-left: 470px;
  margin-right: 110px;
}

.yq-button {
  margin-top: 65px;
  border-color: white;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.2); 
  position: fixed;
  width: 57.5%;
}

.yq-button button{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.border-question {
  color: var(--orange-color);
  border-color: white;
}

.border-yell {
  color: var(--black-color);
  border-color: var(--brown-color);
}

.line {
  width: 100%;
  margin-top: 140px;
  height: 1px;
  background-color: var(--gray-color);
  margin-bottom: 10px; 
}

.line-detail {
  width: 100%;
  height: 1px;
  background-color: var(--gray-color);
  margin-bottom: 10px; 
}

.post-container {
  margin-bottom: 20px;
}

/* belum hadle panjang kebawah */
.input-box {
  flex-grow: 1;
  background-color: var(--gray-color);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 90px;
  width: 95%;
  box-sizing: border-box;
  resize: vertical;
}

.post-button {
  border-radius: 8px;
  cursor: pointer;
  margin-right: 30px;
  border-width: 3px;
  border: var(--gray-color);
  align-items: flex-end;
  text-align: end;
}

.kategori-dd {
  margin-left: 20px;
  width: 130px;
  background-color: var(--orange-color);
}

.kategori-yell {
  text-align: end;
  color: var(--brown-color);
}

.yell-container {
  padding-left: 40px;
  padding-right: 40px;
}

.btn-update {

  background-color: white;
  color: var(--black-color);
}

.input-update {
  background-color: var(--gray-color);
  height: 90px;
}

.modal-update {
  width: 600px;
}

.update-kat {
  background-color: var(--orange-color);
}

.icon-edit {
  color: black;
}

.nama-yell {
  font-family: 'Lato', sans-serif;
  font-weight: 300; /* Use 300 for light font weight */
}

.placeholder-text::placeholder {
  font-size: 10px;
  font-family: 'Poppins', sans-serif; 
  color: #666; 
}

p {
  color: var(--black-color);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
}

.modal-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-body {
  margin-bottom: 20px;
}

.close-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}